<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Item List</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var success = /*[[${success}]]*/ false;
        $(document).ready(function() {
            if (success) {
                alert("執行成功！");
            }
        });
        /*]]>*/
    </script>
</head>
<body>
<h2>物品管理</h2>

<form th:action="@{/items2}" method="get">
    物品類型：
    <select name="type">
        <option value="">預設</option>
        <option th:each="type : ${itemTypes}" th:value="${type}" th:text="${type.displayName}"></option>
    </select>

    物品狀態：
    <select name="status">
        <option value="">預設</option>
        <option th:each="status : ${itemStatuses}" th:value="${status}" th:text="${status.displayName}"></option>
    </select>

    搜索：
    <input type="text" name="search" />

    <input type="submit" value="Filter"/>
</form>


<!-- 返回按鈕 -->
<!--<button onclick="window.history.back();">返回</button>-->
<button onclick="window.location.href='/users/login-success'">返回首頁</button>


<h3>現有物品：</h3>
<table>
    <thead>
    <tr>
        <th>物品ID</th>
        <th>物品名稱</th>
        <th>物品類型</th>
        <th>物品狀態</th>
        <th>可借用天数</th>
        <th>購買日期</th>
        <th>使用年限</th>
        <th>價格</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${items}">
        <td th:text="${item.item_id}"></td>
        <td th:text="${item.item_name}"></td>
        <td th:text="${item.type.displayName}"></td>
        <td th:text="${item.status.displayName}"></td>
        <td th:text="${item.borrow_day}"></td>
        <td th:text="${#dates.format(item.purchase_date, 'yyyy-MM-dd')}"></td>
        <td th:text="${item.tenure}"></td>
        <td th:text="${item.compensation_price}"></td>
        <td>
            <a th:href="@{/items/register/{id}(id=${item.item_id})}" class="button">登記</a>
            <a th:href="@{/items/reserve/{id}(id=${item.item_id})}" class="button">預約</a>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>
