<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <!-- basic -->

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Shortcodes</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- bootstrap css -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="/css/style copy.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="/images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="/css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- owl stylesheets -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/css/haha.css">
</head>
<body>
    <div class="header_section">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <h2 class="dance_text">政大物品借還系統<br>學生頁面</h2>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/login-success">首頁</a>
                    </li>
    
                    <li class="nav-item active">
                        <a class="nav-link" href="/items2">查詢物品狀態</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/add-message">留言板</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/profile/{user_id}">我的頁面</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/users/logout">登出</a>
                    </li>
                </ul>
<!--                <form class="form-inline my-2 my-lg-0">-->
<!--                    <div class="search_icon"><a href="#"><img src="\images\search-icon.png"></a></div>-->
<!--                </form>-->
            </div>
        </nav>
    </div>

<h2>學生個人資訊頁面</h2>
<table>
    <tr>
        <td>學生ID:</td>
        <td th:text="${user.user_id}"></td>
    </tr>
    <tr>
        <td>姓名:</td>
        <td th:text="${user.name}"></td>
    </tr>
    <tr>
        <td>角色:</td>
        <td th:text="${user.role}"></td>
    </tr>
    <tr>
        <td>點數:</td>
        <td th:text="${user.point}"></td>
    </tr>
    <tr>
        <td>電話號碼:</td>
        <td th:text="${user.phoneNumber}"></td>
    </tr>
    <tr>
        <td>房間號碼:</td>
        <td th:text="${user.roomNumber}"></td>
    </tr>
    <tr>
        <td>系級:</td>
        <td th:text="${user.departmentGrade}"></td>
    </tr>
</table> <br><br>

    <h2>學生借用紀錄</h2>
    <table id="borrowed_items_placeholder">
        <ul>
            <table id = "recordTable">
                <thead>
                <tr>
                    <th>recordID</th>
                    <th>user_id</th>
                    <th>situation</th>
                    <th>item_id</th>
                    <th>contact_person_id</th>
                    <th>borrow_date</th>
                    <th>violation_type</th>
                    <th>return_date</th>
                    <th>item_name</th>

                    <!-- 添加一个用于操作的列 -->
                </tr>
                </thead>
                <tbody>
                <tr th:each="record : ${records}">
                    <td th:text="${record.record_id}"></td>
                    <td th:text="${record.user_id}"></td>
                    <td th:text="${record.situation}"></td>
                    <td th:text="${record.item_id}"></td>
                    <td th:text="${record.contact_person_id}"></td>
                    <td th:text="${#dates.format(record.borrow_date, 'yyyy-MM-dd')}"></td>
                    <td th:text="${record.violation_type}"></td>
                    <td th:text="${#dates.format(record.return_date, 'yyyy-MM-dd')}"></td>
                    <div th:if="${record.item != null}">
                        <td th:text="${record.item.item_name}"></td>
                    </div>



                </tr></tbody></table></ul></table>
</body>
</html>


